{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'homeglobals.css' %}" />
  <link rel="stylesheet" href="{% static 'homestyle.css' %}" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
{% static '\img\MainPage\gradient.svg' %} {% include 'Sites/navbar.html' %}
<body>
  {% include 'Sites\navbar.html' %}
  
  {% if messages %}
  {% for message in messages %}
    {% if message.tags == 'success' %}
      <div class="alert alert-success alert-dismissible fade show" data-timeout="5000" role="alert">
        <strong>Success:</strong> {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% elif message.tags == 'error' %}
      <div class="alert alert-danger alert-dismissible fade show"  data-timeout="5000" role="alert">
        <strong>Error:</strong> {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% else %}
      <div class="alert alert-warning alert-dismissible fade show" data-timeout="5000" role="alert">
        <strong>Warning:</strong> {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endif %}
  {% endfor %}
{% endif %}

  <div class="element">
    <div class="image-group">
      <div class="overlap-group">
        <div class="stroke"></div>
        <div class="div"></div>
        <img class="unsplash-qrwadbcqysc" src="{% static 'img/woah.png' %}" />
        <img class="star" src="{% static 'img/star-2.svg' %}" />
        <img class="img" src="{% static 'img/star-1.svg' %}" />
        <img class="star-2" src="{% static 'img/star.svg' %}" />
        <div class="tag">
          <div class="text-wrapper">Ergonomic design</div>
        </div>
        <div class="div-wrapper">
          <div class="text-wrapper-2">Award winning product</div>
        </div>
      </div>
    </div>
    
    <div class="content">
      <p class="p">Dylan's Bakery Industrial</p>
      <p class="text-wrapper-3">
        Suck ma deez nut.
      </p>

      <div class="buttons">
        <a href="/AllUsers/signin" class="primary-button" class="contact-us">Sign In</a>
        <a href="/RegisterVisitor" class="secondary-button">Visitor?</a>
      </div>
    </div>

    <div class="font-circle">
      <div class="overlap">
        <div class="text">
          <div class="overlap-2">
            <div class="overlap-3">
              <div class="overlap-4">
                <div class="text-wrapper-4">L</div>
                <div class="text-wrapper-5">o</div>
              </div>
              <div class="text-wrapper-6">r</div>
              <div class="text-wrapper-7"></div>
              <div class="overlap-5">
                <div class="text-wrapper-8">a</div>
                <div class="text-wrapper-9">m</div>
                <div class="text-wrapper-10">e</div>
                <div class="text-wrapper-11">t</div>
                <div class="text-wrapper-12">,</div>
                <div class="text-wrapper-13"></div>
                <div class="text-wrapper-14">c</div>
                <div class="text-wrapper-15">o</div>
                <div class="text-wrapper-16">n</div>
                <div class="text-wrapper-17">s</div>
              </div>
            </div>
            <div class="overlap-6">
              <div class="text-wrapper-18">e</div>
              <div class="overlap-7">
                <div class="text-wrapper-19">m</div>
                <div class="text-wrapper-20"></div>
                <div class="text-wrapper-21">r</div>
              </div>
              <div class="overlap-group-2">
                <div class="text-wrapper-22">i</div>
                <div class="text-wrapper-23">p</div>
                <div class="text-wrapper-24">s</div>
                <div class="text-wrapper-25">u</div>
                <div class="text-wrapper-26">m</div>
                <div class="text-wrapper-27"></div>
                <div class="text-wrapper-28">d</div>
                <div class="text-wrapper-29">o</div>
                <div class="text-wrapper-30">l</div>
              </div>
              <div class="text-wrapper-31">o</div>
            </div>
            <div class="text-wrapper-32">r</div>
            <div class="text-wrapper-33"></div>
            <div class="text-wrapper-34">s</div>
            <div class="text-wrapper-35">i</div>
            <div class="text-wrapper-36">t</div>
          </div>
        </div>
        <img class="icons" src="{% static 'img/icons-4.svg' %}" />
      </div>
    </div>
    <div class="list">
      <div class="frame">
        <img class="icons-2" src="{% static 'img/icons-3.svg' %}" />
        <div class="text-wrapper-37">Lorem ipsu dolor amet</div>
      </div>
      <div class="frame">
        <img class="icons-2" src="{% static 'img/icons-2.svg' %}" />
        <div class="text-wrapper-37">Lorem ipsu dolor amet</div>
      </div>
      <div class="frame">
        <img class="icons-2" src="{% static 'img/icons-1.svg' %}" />
        <div class="text-wrapper-37">Lorem ipsu dolor amet</div>
      </div>
      <div class="frame">
        <img class="icons-2" src="{% static 'img/icons.svg' %}" />
        <div class="text-wrapper-37">Lorem ipsu dolor amet</div>
      </div>
    </div>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>

  <script type="text/javascript">
      let alert_list = document.querySelectorAll('.alert')
      alert_list.forEach(function(alert) {
          new bootstrap.Alert(alert);

          let alert_timeout = alert.getAttribute('data-timeout');
          setTimeout(() => {
              bootstrap.Alert.getInstance(alert).close();
          }, +alert_timeout);
      });
  </script>
</body>

</html>